<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <!-- <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton> -->
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->

    <Label class="action-bar-title" text="Browse"></Label>

</ActionBar>

<GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf1ea;"></Label>
    <Label class="page-placeholder" text="<!-- Page content goes here -->"></Label>
   <StackLayout>
    <Button class="btn btn-primary" text="CLICK" (tap)="navigateto()" borderradius= "30 " margintop= "70" width= "150"  backgroundcolor= "#57cff2"></Button>
   </StackLayout>
</GridLayout>
